<!DOCTYPE html>
<html>
<head>
  <title>Health Check</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      margin: 20px;
    }
    h1 {
      color: #000000;
    }
    button {
      padding: 10px 20px;
      background-color: #4CAF50;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }
    button:hover {
      background-color: #45a049;
    }
    .status-icon {
      margin-left: 10px;
      font-size: 20px;
      width: 20px;
      text-align: center;
    }
    .server-row {
      display: flex;
      align-items: center;
      gap: 10px;
    }

    .server-name {
      width: 140px;
      display: inline-block;
      text-align: left;
    }

    .shutdown-btn {
      background-color: red;
      padding: 10px 20px;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }

    .shutdown-btn:hover {
      background-color: darkred;
    }

    .result {
      flex-grow: 1;
      text-align: left;
    }
  </style>
  <script th:inline="javascript">
    const serviceNames = [[${serviceNames}]];
    const ports = [[${servicePorts}]];

    async function requestCreation(action, filename, password, did, controller) {
      if (!filename || !password) {
        document.getElementById('result-' + action).innerText = "파일명과 비밀번호를 입력하세요.";
        return;
      }
      fetch(`/create/${action}`, {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({
          filename: filename,
          password: password,
          did: did,
          controller: controller
        })
      })
          .then(response => response.json())
          .then(data => {
            document.getElementById('result-' + action).innerText =
                    data.success ? "생성 성공!" : `실패: ${data.message}`;
          })
          .catch(error => {
            console.error("Error:", error);
            document.getElementById('result-' + action).innerText = "생성 완료!";
          });
    }

    async function requestAllServer(action) {
      try {
        const response = await fetch(`/${action}/all`, { method: 'GET' });
        const resultElement = document.getElementById('result-all');

        if (!response.ok) {
          resultElement.innerText = `Error: ${await response.text()}`;
          setHealthIconAll(3);
          return;
        }

        const data = await response.json();
        resultElement.innerText = `서버 구동 수 : ${data.cnt}`;

        setHealthIconAll(data.cnt);
        requestAllHealthCheck();
      } catch (error) {
        document.getElementById('result-all').innerText = 'Error: ' + error.message;
        setHealthIconAll(3);
      }
    }

    async function requestServer(action, port) {
      if (!port) {
        alert('port is empty');
        return;
      }

      try {
        const response = await fetch(`/${action}/${port}`, { method: 'GET' });
        const resultElement = document.getElementById('result-' + port);

        if (!response.ok) {
          resultElement.innerText = `Error: ${await response.text()}`;
          setHealthIcon(port, false);
          return;
        }

        const data = await response.json();
        resultElement.innerText = `Status: ${data.status}`;

        setHealthIcon(port, data.status === "UP");
      } catch (error) {
        document.getElementById('result-' + port).innerText = 'Error: ' + error.message;
        setHealthIcon(port, false);
      }
    }
    async function requestFabricStart() {
      try {
        const response = await fetch(`/startup/fabric`, { method: 'GET' });
        const resultElement = document.getElementById('result-fabric');

        if (!response.ok) {
          resultElement.innerText = `Error: ${await response.text()}`;
          setHealthIconFabric(data.status === "UP");
          return;
        }

        const data = await response.json();
        resultElement.innerText = `Status: ${data.status}`;

        setHealthIconFabric(data.status === "UP");
      } catch (error) {
        document.getElementById('result-fabric').innerText = 'Error: ' + error.message;
        setHealthIconFabric(false);
      }
    }

    async function requestFabricShutdown() {
      try {
        const response = await fetch(`/shutdown/fabric`, { method: 'GET' });
        const resultElement = document.getElementById('result-fabric');

        if (!response.ok) {
          resultElement.innerText = `Error: ${await response.text()}`;
          setHealthIconFabric(data.status === "UP");
          return;
        }

        const data = await response.json();
        resultElement.innerText = `Status: ${data.status}`;

        setHealthIconFabric(data.status === "UP");
      } catch (error) {
        document.getElementById('result-fabric').innerText = 'Error: ' + error.message;
        setHealthIconFabric(false);
      }
    }

    async function requestFabricHealthCheck() {
      try {
        const response = await fetch(`/healthcheck/fabric`, { method: 'GET' });
        const resultElement = document.getElementById('result-fabric');

        if (!response.ok) {
          resultElement.innerText = `Error: ${await response.text()}`;
          setHealthIconFabric(data.status === "UP");
          return;
        }

        const data = await response.json();
        resultElement.innerText = `Status: ${data.status}`;

        setHealthIconFabric(data.status === "UP");
      } catch (error) {
        document.getElementById('result-fabric').innerText = 'Error: ' + error.message;
        setHealthIconFabric(false);
      }
    }
    async function requestPostgreStart() {
      try {
        const response = await fetch(`/startup/postgre`, { method: 'GET' });
        const resultElement = document.getElementById('result-postgre');

        if (!response.ok) {
          resultElement.innerText = `Error: ${await response.text()}`;
          setHealthIconPostgre(data.status === "UP");
          return;
        }

        const data = await response.json();
        resultElement.innerText = `Status: ${data.status}`;

        setHealthIconPostgre(data.status === "UP");
      } catch (error) {
        document.getElementById('result-postgre').innerText = 'Error: ' + error.message;
        setHealthIconPostgre(false);
      }
    }

    async function requestPostgreShutdown() {
      try {
        const response = await fetch(`/shutdown/postgre`, { method: 'GET' });
        const resultElement = document.getElementById('result-postgre');

        if (!response.ok) {
          resultElement.innerText = `Error: ${await response.text()}`;
          setHealthIconPostgre(data.status === "UP");
          return;
        }

        const data = await response.json();
        resultElement.innerText = `Status: ${data.status}`;

        setHealthIconPostgre(data.status === "UP");
      } catch (error) {
        document.getElementById('result-postgre').innerText = 'Error: ' + error.message;
        setHealthIconPostgre(false);
      }
    }

    async function requestPostgreHealthCheck() {
      try {
        const response = await fetch(`/healthcheck/postgre`, { method: 'GET' });
        const resultElement = document.getElementById('result-postgre');

        if (!response.ok) {
          resultElement.innerText = `Error: ${await response.text()}`;
          setHealthIconPostgre(data.status === "UP");
          return;
        }

        const data = await response.json();
        resultElement.innerText = `Status: ${data.status}`;

        setHealthIconPostgre(data.status === "UP");
      } catch (error) {
        document.getElementById('result-postgre').innerText = 'Error: ' + error.message;
        setHealthIconPostgre(false);
      }
    }

    function setHealthIconFabric(isSuccess) {
      let iconElement = document.getElementById('health-icon-fabric');
      if (!iconElement) {
        iconElement = document.createElement('span');
        iconElement.id = 'health-icon-fabric';
        iconElement.className = 'status-icon';
        document.getElementById('result-fabric').after(iconElement);
      }
      iconElement.innerText = isSuccess ? '🟢' : '🔴';
    }

    function setHealthIconPostgre(isSuccess) {
      let iconElement = document.getElementById('health-icon-postgre');
      if (!iconElement) {
        iconElement = document.createElement('span');
        iconElement.id = 'health-icon-postgre';
        iconElement.className = 'status-icon';
        document.getElementById('result-postgre').after(iconElement);
      }
      iconElement.innerText = isSuccess ? '🟢' : '🔴';
    }

    function setHealthIcon(port, isSuccess) {
      let iconElement = document.getElementById('health-icon-' + port);
      if (!iconElement) {
        iconElement = document.createElement('span');
        iconElement.id = 'health-icon-' + port;
        iconElement.className = 'status-icon';
        document.getElementById('result-' + port).after(iconElement);
      }
      iconElement.innerText = isSuccess ? '🟢' : '🔴';
    }

    function setHealthIconAll(cnt) {
      let iconElement = document.getElementById('health-icon-all');
      if (!iconElement) {
        iconElement = document.createElement('span');
        iconElement.id = 'health-icon-all';
        iconElement.className = 'status-icon';
        document.getElementById('result-all').after(iconElement);
      }
      if(cnt === 6)
        iconElement.innerText ='🟢';
      else if(cnt === 0)
        iconElement.innerText ='🔴';
      else
        iconElement.innerText ='🟡';
    }
    function requestAllHealthCheck(){
      requestFabricHealthCheck();
      requestPostgreHealthCheck();
      ports.forEach(port => requestServer('healthcheck', port));
    }
    // 페이지 열릴때 헬스체크
    document.addEventListener('DOMContentLoaded', () => {
      // ports.forEach(port => requestServer('healthcheck', port));
      // requestFabricHealthCheck();
      // requestPostgreHealthCheck();
      // requestAllServer('healthcheck');
    });
  </script>
</head>
<body>
<h1>Orchestrator</h1>
<p>Server IP: <span th:text="${serverIp}"></span></p>

<div id="services">

  <h3 class="server-row">
    <span class="server-name">Wallet 생성</span>
    <input type="text" id="filename-wallet" placeholder="파일명">
    <input type="text" id="password-wallet" placeholder="비밀번호">
    <button onclick="requestCreation(
        'wallet',
        document.getElementById('filename-wallet').value.trim(),
        document.getElementById('password-wallet').value.trim()
    )">생성</button>
    <span id="result-wallet" class="result"></span>
  </h3>

  <h3 class="server-row">
    <span class="server-name">wallet key 생성</span>
    <input type="text" id="filename-keys" placeholder="파일명">
    <input type="text" id="password-keys" placeholder="비밀번호">
    <button onclick="requestCreation(
            'keys',
        document.getElementById('filename-keys').value.trim(),
        document.getElementById('password-keys').value.trim()
    )">생성</button>
    <span id="result-keys" class="result"></span>
  </h3>

  <h3 class="server-row">
    <span class="server-name">did 문서 생성</span>
    <input type="text" id="filename-diddoc" placeholder="파일명">
    <input type="text" id="password-diddoc" placeholder="비밀번호">
    <input type="text" id="did-diddoc" placeholder="did">
    <input type="text" id="controller-diddoc" placeholder="controller">
    <button onclick="requestCreation(
            'diddoc',
        document.getElementById('filename-diddoc').value.trim(),
        document.getElementById('password-diddoc').value.trim(),
        document.getElementById('did-diddoc').value.trim(),
        document.getElementById('controller-diddoc').value.trim()
    )">생성</button>
    <span id="result-diddoc" class="result"></span>
  </h3>

  <h3 class="server-row">
    <span id="health-icon-all" class="status-icon">⚪</span>
    <span class="server-name">All Entities</span>
    <button onclick="requestAllServer('startup')">Start</button>
    <button class="shutdown-btn" onclick="requestAllServer('shutdown')">Shutdown</button>
    <button onclick="requestAllHealthCheck()">Health Check</button>
    <span id="result-all" class="result"></span>
  </h3>

  <h3 class="server-row">
    <span id="health-icon-fabric" class="status-icon">⚪</span>
    <span class="server-name">Fabric</span>
    <button onclick="requestFabricStart()">Start</button>
    <button class="shutdown-btn" onclick="requestFabricShutdown()">Shutdown</button>
    <button onclick="requestFabricHealthCheck()">Health Check</button>
    <span id="result-fabric" class="result"></span>
  </h3>

  <h3 class="server-row">
    <span id="health-icon-postgre" class="status-icon">⚪</span>
    <span class="server-name">PostgreSQL</span>
    <button onclick="requestPostgreStart()">Start</button>
    <button class="shutdown-btn" onclick="requestPostgreShutdown()">Shutdown</button>
    <button onclick="requestPostgreHealthCheck()">Health Check</button>
    <span id="result-postgre" class="result"></span>
  </h3>

  <script>
    ports.forEach((port, index) => {
      document.write(`
       <h3 class="server-row">
          <span id="health-icon-${port}" class="status-icon">⚪</span>
          <span class="server-name">${serviceNames[test]} (${port}) </span>
          <button onclick="requestServer('startup', ${port})">Start</button>
          <button class="shutdown-btn" onclick="requestServer('shutdown', ${port})">Shutdown</button>
          <button onclick="requestServer('healthcheck', ${port})">Health Check</button>
           ${port === 9001
            ? `<button onclick="requestServer('refresh', ${port})">Refresh</button>`
            : `<a href="http://localhost:${port}" target="_blank"><button>Settings</button></a>`}
          <span id="result-${port}" class="result"></span>
        </h3>
      `);
    });
  </script>
</div>

<p th:text="${serviceNames[0]}"></p>
<a href="/logs/server_8090.log">tas log</a>
<a href="/logs/server_8091.log">issuer log</a>
<a href="/logs/server_8092.log">verifier log</a>
</body>
</html>
